{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- if social.dribbble -%}
  <li>
    <a
      rel="me"
      href="https://dribbble.com/{{ social.dribbble | cgi_escape | escape }}"
      title="{{ social.dribbble | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/dribbble.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.facebook -%}
  <li>
    <a
      rel="me"
      href="https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}"
      title="{{ social.facebook | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/facebook.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.flickr -%}
  <li>
    <a
      rel="me"
      href="https://www.flickr.com/photos/{{ social.flickr | cgi_escape | escape }}"
      title="{{ social.flickr | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/flickr.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.github -%}
  <li>
    <a
      rel="me"
      href="https://github.com/{{ social.github | cgi_escape | escape }}"
      title="{{ social.github | escape }}"
      >
      <img class="svg-icon grey" src="{{ '/assets/icons/social/github.svg' | relative_url }}">
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.instagram -%}
  <li>
    <a
      rel="me"
      href="https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}"
      title="{{ social.instagram | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/instagram.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.linkedin -%}
  <li>
    <a
      rel="me"
      href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}"
      title="{{ social.linkedin | escape }}"
      >
      <img class="svg-icon grey" src="{{ '/assets/icons/social/linkedin.svg' | relative_url }}">
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.pinterest -%}
  <li>
    <a
      rel="me"
      href="https://www.pinterest.com/{{ social.pinterest | cgi_escape | escape }}"
      title="{{ social.pinterest | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/pinterest.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- for mst in social.mastodon -%}{%- if mst.username and
  mst.instance -%}
  <li>
    <a
      rel="me"
      href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}"
      title="{{ mst.username | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/mastodon.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- endfor -%} {%- if social.twitter -%}
  <li>
    <a
      rel="me"
      href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
      title="{{ social.twitter | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/twitter.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.youtube -%}
  <li>
    <a
      rel="me"
      href="https://www.youtube.com/{{ social.youtube | cgi_escape | escape }}"
      title="{{ social.youtube | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/youtube.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.youtube_channel -%}
  <li>
    <a
      rel="me"
      href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}"
      title="{{ social.youtube_channel_name | escape | default: 'YouTube' }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/youtube.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.telegram -%}
  <li>
    <a
      rel="me"
      href="https://t.me/{{ social.telegram | cgi_escape | escape }}"
      title="{{ social.telegram | escape }}"
      >
      <img class="svg-icon grey" src="{{ '/assets/icons/social/telegram.svg' | relative_url }}">
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.keybase -%}
  <li>
    <a
      rel="me"
      href="https://keybase.io/{{ social.keybase | cgi_escape | escape }}"
      title="{{ social.keybase | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/keybase.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.microdotblog -%}
  <li>
    <a
      rel="me"
      href="https://micro.blog/{{ social.microdotblog | cgi_escape | escape }}"
      title="{{ social.microdotblog | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/microdotblog.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%} {%- if social.rss -%}
  <li>
    <a href="{{ 'feed.xml' | relative_url }}" title="{{ social.rss | escape }}"
      >
      <img class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/icons/social/rss.svg' | relative_url }}"
        >
        </use>
      </img>
    </a>
  </li>
  {%- endif -%}
</ul>
