.site-header {
  display: flex;
  flex-direction: row;
  border: unset;

  .wrapper {
    width: 100%;
    max-width: 90% !important;
	display: flex;
	flex-direction: row;

	.site-title {
	  max-width: max-content;
	  min-width: max-content;
	  width: max-content;
	  height: 100%;
      font-size: xxx-large;
      font-weight: inherit;
      padding-top: 1vh;
	}

	.site-nav {
	  width: 100%;
	}

	.social-links {
      max-width: max-content;
      width: inherit;
      margin-top: 1vh;
      display: flex;
      flex-direction: column;

	  ul {
        display: inherit;
        align-content: space-between;

		li {
		  width: max-content;
		  height: max-content;
          margin-inline: 10px;
          padding-top: 5px;

		  a {
			display: block;

			img {
			  width: 32px;
			  height: 32px;
			  padding: 5px;
			}
		  }
		}
	  }
	}
  }
}
